# Project exclude paths
/.gradle/
/build/
/.idea/
/docs
/testing/condition_db
/testing/event_db
/kotlin-js-store/yarn.lock
ems.config.yaml
/ems-stat-collector/src/__pycache__
/ems-stat-collector/src/orm/__pycache__