h2, h3 {
    color: darkblue;
}

label {
    margin: 5px;
}

input, select {
    margin: 5px;
}

table {
    border: solid black 2px;
}

td, th {
    border: solid black 1px;
    padding-left: 12px;
    padding-right: 12px;
}
