/* body {
  background-color: #c7d9d9;
} */

.container-for-three {
  display: flex;
  gap: 20px;
}

.div-filtering-fields {
  /* background-color: yellow; */
  padding-left: 5px;
  padding-right: 5px;
}

.homepage-div {
  width: 100%;
}

.div-select-catalog {
  padding-left: 5px;
  padding-right: 5px;
  width: 220px;
  min-width: 220px;
}

/*
.lightgreen {
  background-color: lightgreen;
}
*/

/* .new_table_page__table {
  height: 1200px;
  Not needed anymore - spoils things!!!... 
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e3b9b9;
}
*/
.div-emd-table-card {
  /* flex-grow: 1; */
  box-shadow: #00000029 0 1px 4px;
  min-height: 637px;
  width: 100%;
  /* temporarily */
}



.input-div {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  font-size: 12.8px;
  margin-top: 0 !important;
  margin-bottom: -8px !important;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.divider-div {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 88%;
  border-bottom: 2px solid #5b8fdd;
}

.divider-div2 {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 68%;
  border-bottom: 2px solid #5b8fdd;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

/*
table {
  border: solid black 2px;
}

td, th {
  border: solid black 1px;
  padding-left: 12px;
  padding-right: 12px;
}
*/

/* ADD */

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.ui-widget.ui-widget-content {
  z-index: 1001 !important;
}

hr {
  color: #789;
  background: black;
  width: 100%;
  border-style: inset;
  border-width: 1px;
}

.top {
  -moz-border-radius: 50px;
  margin: 5% 0% 1% 0%;
  opacity: 0.7;
  -webkit-border-radius: 10px;
  background: rgb(101 135 231);
  text-align: center;
  position: fixed;
  bottom: 6.3%;
  right: 1%;
  cursor: pointer;
  color: #ffffffbf;
  -khtml-border-radius: 5px;
  z-index: 23333;
}

.top_border {
  border-top-left-radius: 0.6em !important;
  border-top-right-radius: 0.6em !important;
}

.bottom_border {
  border-bottom-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cursor {
  cursor: default;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  height: 100%;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

/* ICON */
.app-icon {
  width: 31px;
  height: 3px;
  display: block;
  border-radius: 4px;
  background-color: #f3f6fd;
  position: relative;
}

.app-icon:before {
  top: -8px;
}

.app-icon:after {
  bottom: -8px;
}

.app-icon:before, .app-icon:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  border-radius: 4px;
  background-color: #f3f6fd;
  left: 50%;
  transform: translate(-50%);
}

/* HEADER */
header {
  background: #2862ff;
  color: #fff;
  padding: 0 5px;
  width: 100%;
}

header nav {
  display: flex;
  height: 100%;
  align-items: center;
}

@media (min-width: 767px) {
  header nav {
    padding: 0 calc(20px + 12 * (100vw / 1920)) !important;
  }

  header nav .mat-button {
    font-size: calc(12px + 1.2 * (100vw / 1920)) !important;
    height: calc(26px + 4 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  header nav {
    padding: 0 calc(20px + 20.4 * ((100vw - 320px) / 1920)) !important;
  }

  header nav .mat-button {
    font-size: calc(12px + 2.04 * ((100vw - 320px) / 1920)) !important;
    height: calc(26px + 6.8 * ((100vw - 320px) / 1920)) !important;
  }
}

header nav .mat-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

header nav .mat-button {
  font-weight: 400;
  letter-spacing: 0.4px;
}

.menu_icon {
  display: flex;
  align-items: center;
  height: 100%;
  height: 64px;
  width: 31%;
}

.menu_name {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1.5px solid #4343fa83;
  cursor: default;
  padding: 0 10px;
}

.menu_name__text {
  margin-right: 0.2em;
  margin-left: 2.5em;
  font-size: 21px;
  cursor: pointer;
}

.menu_name svg {
  width: 26px;
  margin-bottom: -2px;
}

.menu_name2 {
  display: flex;
  align-items: center;
  height: 100%;
}

.login_block {
  display: flex;
  align-items: center;
}

.login_block>div:first-child {
  margin: 0 10px;
}

.but {
  background-color: #2862ff;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 -2px 5px #0000001f;
  display: flex !important;
  align-items: center;
  color: #ffffffe8;
  font-weight: 500;
  letter-spacing: .4px;
  font-size: calc(12px + 0.07812vw) !important;
  height: calc(28px + 0.20833vw) !important;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
}

.login_block>.but {
  margin: 0 15px;
}

.validate-input {
  position: relative;
}

.validate-input input:focus+.focus-form1+.symbol-form1 {
  color: #2862ff;
  padding-left: 28px;
}

.validate-input input:hover+.focus-form1+.symbol-form1 {
  color: #2862ff;
  padding-left: 28px;
}

.validate-input .focus-form1 {
  display: block;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
}

.validate-input .symbol-form1 {
  margin-bottom: -3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@media (min-width: 767px) {
  .validate-input .symbol-form1 mat-icon {
    font-size: calc(13px + 5 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .validate-input .symbol-form1 mat-icon {
    font-size: calc(13px + 8.5 * ((100vw - 320px) / 1920)) !important;
  }
}

@media (min-width: 767px) {
  .validate-input .symbol-form1 {
    padding-left: calc(15px + 9 * (100vw / 1920));
  }
}

@media (max-width: 767px) {
  .validate-input .symbol-form1 {
    padding-left: calc(15px + 15.3 * ((100vw - 320px) / 1920));
  }
}

.validate-input>input {
  font-family: "Quicksand", sans-serif;
  border: 0.1em solid rgba(122, 192, 0, 0.15) !important;
  color: #0e0d0d;
  display: block;
  cursor: pointer;
  background: #f4f4f4;
  height: 43px;
  width: 150px !important;
  border-radius: 1em;
  padding: 0 0em 0 52px;
}

@media (min-width: 767px) {
  .validate-input>input {
    font-size: calc(12px + 2 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .validate-input>input {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }
}

.events_icon2 {
  cursor: pointer;
  height: 100%;
  align-items: center;
  display: flex;
  border-right: 1.5px solid #4343fa83;
}

.events_icon2 button {
  margin-right: 15px;
}

.events_icon2 svg {
  width: 33px !important;
  margin-bottom: -2px;
}

/*  */

/* Content */
.main-content {
  flex: 1;
  display: flex;
  width: 100%;
}

.home__page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2% 2% 1%;
  background: #e0e0e0;
}

/*  */
/* Sidenav */
.sidenav {
  box-shadow: 0 1px 5px #0003, 0 1px 1px #00000024, 0 1px 10px #0000001f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 3%;
  min-width: calc(190px + 2.08333vw) !important;
}

.sidenav>div {
  margin-bottom: 7%;
  margin-left: 6%;
}

.sidenav .top__search {
  font-weight: bolder;
  font-size: 16.2px;
  letter-spacing: 0.1px;
  color: #7e7d7d;
  cursor: default;
}

.sidenav .search {
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-left: 11%;
  cursor: pointer;
}

.sidenav .search svg {
  width: 35px;
  color: #928787;
  height: 24px;
}

.sidenav .search__name {
  font-weight: 300;
  font-size: 15.5px;
  letter-spacing: 0.4px;
  margin-left: 4px;
  margin-top: 2.5%;
}

/*  */
/* Footer */
footer {
  display: flex;
  align-items: center;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 3px solid #2862ff;
  min-height: 48px;
}

@media (min-width:767px) {
  footer .mat-icon {
    display: flex;
    margin-left: .9em;
    align-items: center;
    cursor: pointer;
    font-size: calc(23px + 2 * (100vw / 1920));
  }

  footer img {
    background-size: cover;
    margin-right: calc(30px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
    width: calc(80px + 8 * (100vw / 1920));

  }
}

@media (max-width:767px) {
  footer .mat-icon {
    display: flex;
    margin-left: .9em;
    align-items: center;
    cursor: pointer;
    font-size: calc(23px + 3.4 * ((100vw - 320px) / 1920));
  }

  footer img {
    background-size: cover;
    margin-right: calc(30px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
    width: calc(80px + 13.6 * ((100vw - 320px) / 1920));
  }
}

/*  */


/* HOME */
.home__page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.7%;
}

.home__page>div {
  display: flex;
  width: 100%;
}

.home__page__dashboard {
  cursor: default;
  width: inherit;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem !important;
  padding: 1rem;
  padding-left: 2.2rem;
}

.home__page__dashboard__head {
  font-weight: 500;
  color: #888a8d;
  line-height: 1.2;
}

@media (min-width: 767px) {
  .home__page__dashboard__head {
    font-size: calc(15px + 7 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .home__page__dashboard__head {
    font-size: calc(15px + 11.9 * ((100vw - 320px) / 1920)) !important;
  }
}

.home__page__dashboard__text {
  line-height: 1.2;
  color: #9ca3af;
}

@media (min-width: 767px) {
  .home__page__dashboard__text {
    font-size: calc(12px + 3 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .home__page__dashboard__text {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1920)) !important;
  }
}

.home__page__stats {
  cursor: default;
  display: flex;
}

.home__page__stats .borders:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.home__page__stats__block3 {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem !important;
  padding: 1rem !important;
  margin-left: 20px;
  min-width: 165px;
}

.home__page__stats__block3 svg {
  width: 36px;
}

.home__page__stats__block2 {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem !important;
  padding: 1rem !important;
  margin-left: 20px;
  min-width: 280px;
  cursor: default !important;
}

.home__page__stats__block2 svg {
  width: 36px;
}

.home__page__stats__block {
  height: 75px;
  min-width: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.3rem !important;
  padding: 1rem !important;
  margin-left: 20px;
}

.home__page__stats__block svg {
  width: 36px;
  max-height: 35px;
}

.home__page__stats__block__column {
  display: flex;
  flex-direction: column;
}

.home__page__stats__block__column>div:last-child {
  margin-left: 12px;
  margin-top: 3px;
  color: #212a32c9;
}

@media (min-width: 767px) {
  .home__page__stats__block__column>div:last-child {
    font-size: calc(13px + 1 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .home__page__stats__18emblock__column>div:last-child {
    font-size: calc(13px + 1.7 * ((100vw - 320px) / 1920)) !important;
  }
}

.home__page__stats__block__column__stats {
  display: flex;
}

.home__page__stats__block__column__stats>div:first-child {
  margin-left: 12px;
  font-weight: 500;
  color: #535658;
}

@media (min-width: 767px) {
  .home__page__stats__block__column__stats>div:first-child {
    font-size: calc(14px + 3 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .home__page__stats__block__column__stats>div:first-child {
    font-size: calc(14px + 5.1 * ((100vw - 320px) / 1920)) !important;
  }
}

.home__page__stats__block__column__stats>div:last-child {
  margin-left: 8px;
  margin-top: 0px;
  font-weight: 400;
  color: #202122;
}

@media (min-width: 767px) {
  .home__page__stats__block__column__stats>div:last-child {
    font-size: calc(13px + 2 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .home__page__stats__block__column__stats>div:last-child {
    font-size: calc(13px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }
}

.event_metadata {
  letter-spacing: .3px;
}

.stats_new_block {
  border-left: 4px solid #2862ffc7;
  border-right: 4px solid #2862ffc7;
}

.stats_new_block__div {
  display: flex;
  align-items: center;
}

.per {
  margin-left: 8px;
  font-weight: 500;
  color: #212a32c9;
}

@media (min-width: 767px) {
  .per {
    font-size: calc(13px + 2 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .per {
    font-size: calc(13px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }
}

.per_number {
  margin-left: 6px;
  margin-top: 1px;
  font-weight: 600;
  color: #5d5e61;
  font-family: "Nanum Gothic", sans-serif;
}

@media (min-width: 767px) {
  .per_number {
    font-size: calc(13px + 2 * (100vw / 1920)) !important;
  }
}

@media (max-width: 767px) {
  .per_number {
    font-size: calc(13px + 3.4 * ((100vw - 320px) / 1920)) !important;
  }
}


.charts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  padding-top: 1.3%;
}

.new_table_page {
  display: flex;
  height: 100%;
  padding: 1.7%;
  background: #e0e0e0;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  cursor: default;
}

.new_table_page__card {
  display: flex;
  flex-direction: column;
  width: 18em;
  height: max-content;
  padding: 16px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border-radius: 4px;
  background: #fff;
  color: #000000de;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  min-height: 637px;
  /* temporarily */
}

.new_table_page__table {
  width: 76%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  border-radius: 0.6em !important;
  /*   box-shadow: #00000029 0 1px 4px; */
}

.new_table_page__table>div>h3 {
  padding: 1.4% 2%;
  color: #000000a3;
  font-size: 16.5px;
}

.table-container .first {
  display: flex;
  flex-direction: column;
  width: 19em;
  height: max-content;
  padding-bottom: 34px;
}

.first .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.mat-table-title {
  cursor: default;
  letter-spacing: .2px;
  text-align: center;
  font-family: Lora, serif;
  padding: 0;
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.mat-table-title {
  font-size: calc(14px + 0.26042vw) !important;
}

/* INPUT */
.input-div>div>label {
  font-size: 0.85rem !important;
  line-height: 2 !important;
}

.input-div>div>div>input {
  font-size: 0.92rem !important;
  color: #000000d9 !important;
  height: 25px;
}

/* BUT */
.button-container {
  padding-bottom: 0;
  width: 63%;
}

.button-container button:first-child {
  background-color: #2862ff;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 -2px 5px #0000001f;
  color: #ffffffe8;
  font-weight: 500;
  letter-spacing: .4px;
  text-transform: none;
  min-width: 64px;
  line-height: 30px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: calc(12px + 0.07812vw) !important;
  height: calc(28px + 0.20833vw) !important;
}

.button-container button:last-child {
  background-color: #dd3b1e;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 -2px 5px #0000001f;
  color: #ffffffe8;
  font-weight: 500;
  letter-spacing: .4px;
  text-transform: none;
  min-width: 64px;
  line-height: 30px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: calc(12px + 0.07812vw) !important;
  height: calc(28px + 0.20833vw) !important;
}
.but_login > button{
  margin: 0 15px;
  background-color: #2862ff;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 -2px 5px #0000001f;
  display: flex !important;
  align-items: center;
  color: #ffffffe8;
  font-weight: 500;
  letter-spacing: .4px;
  font-size: calc(12px + 0.07812vw) !important;
  height: calc(28px + 0.20833vw) !important;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  font-family: inherit;
  text-transform: none;
}
button:hover{
      background: none !important;
}

/* TABLE CSS */
.MuiDataGrid-main{
  min-height: 583px;
}
.MuiDataGrid-columnSeparator{
  display: none !important;
}
.MuiDataGrid-columnHeaderTitle{
  color: #000000ad;
  font-weight: 500 !important;
  font-size: 0.86rem;
}
.MuiDataGrid-row:nth-child(2n+1	){
  background: rgba(0,0,0,.1);
}
.MuiDataGrid-columnHeaders{
  min-height: 3em!important;
  background: #68a5e6;
  letter-spacing: .2px;
  font-size: 0.9rem;
}
.MuiDataGrid-columnHeaderTitleContainer{
  padding-left: 5px;
}
.MuiDataGrid-cell{
  padding-left: 15px;
}
.MuiDataGrid-row > .MuiDataGrid-cell:first-child{
  padding-left: 15px;
}
/*
.MuiDataGrid-row > .MuiDataGrid-cell:nth-child(3){
  border-right: 2px solid rgb(110 110 110 / 50%);
}
.MuiDataGrid-columnHeader:nth-child(3){
  border-right: 2px solid rgb(110 110 110 / 50%);
}
 */
