.yellow {
  background-color: yellow;
}

.lightblue {
  background-color: lightskyblue;
}

.lightgreen {
  background-color: lightgreen;
}

.red {
  display: flex;
  height: 500px;  /* Must have, or table does not display! */
  width: 100%;
  background-color: #e3b9b9;
}

table {
  border: solid black 2px;
}

td, th {
  border: solid black 1px;
  padding-left: 12px;
  padding-right: 12px;
}
